:root {
    --red: #FF0000;
    --light-red: #FF4B4B;
    --light-gray: #CCCCCC;
    --gray: #999999;
    --white-space: 10vw;
}

* {
    box-sizing: border-box;
}

header {
    background-color: var(--gray);
}

header div {
    display: flex;
    margin-left: var(--white-space);
}

header div hgroup {
    color: var(--red);
    align-self: flex-end;
}

#contact .contacts {
    width: 50vw;
    display: flex;
    flex-direction: column;
    top: 15px;
    position: absolute;
    right: 0;
}

#contact .contacts dl {
    display: flex;
    margin: 0px;
    columns: auto;
}

#contact .contacts dl dt {
    background-color: var(--red);
    color: white;
    padding: 2px 0;
}

#contact .contacts dl dd {
    background-color: black;
    justify-content: left;
    margin: 0;
    width: 100%;
}

#contact .contacts dl dd a {
    color: var(--red);
    text-decoration: none;
}

#contact h3 {
    display: none;
}

.contact-type {
    width: 120pt;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5px var(--white-space);
    column-gap: 5px;
}

.content h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--light-gray);
}

.content h3:before {
    margin-right: 5px;
    display: inline-block;
    border-radius: 100%;
    content: " ";
    width: 15px;
    height: 15px;
    background-color: var(--red);
}

.content .skills .skill {
    background-color: var(--light-gray);
    padding: 5px;
    margin: 2px 0;
    display: flex;
}

.content .skills .skill span {
    background-color: var(--red);
    color: white;
    padding: 2px;
    font-size: 14px;
    /*to fix*/
    flex-grow: attr(data-skill);
}

.skills-primary:before {
    content: "Main";
}

.skills-secondary:before {
    content: "Other";
}

.experience-type {
    color: var(--red);
}

.experience-institution {
    color: var(--red);
    font-weight: 100;
    font-size: 14px;
}

.experience-institution::before {
    content: "@";
    color: var(--red);
    font-weight: 100;
    font-size: 14px;
}

.experience-location,
.experience-date,
.experience-date-separator {
    color: var(--gray);
    font-weight: 100;
    font-size: 12px;
}

.experience-location:before {
    content: "In ";
}

.experience-details {
    margin-top: -18px;
}

.experience-date-separator {
    color: var(--red) !important;
}

@media only screen and (max-width:480px) {
    .content {
        display: block;
    }
    header div {
        display: inline-block;
    }
    header div figure {
        margin-left: 0;
    }
    #contact .contacts {
        position: static;
    }
    #contact .contacts dl dd {
        background-color: white;
    }
    #contact h3 {
        display: block;
    }
}